# Configurações do Supabase para o Painel Web (Next.js)
# Copie este arquivo como ".env.local" e preencha com as credenciais do seu projeto do Supabase.

NEXT_PUBLIC_SUPABASE_URL=https://ndfyjnktxhbxiunmrcxs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5kZnlqbmt0eGhieGl1bm1yY3hzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2NjIzMzAsImV4cCI6MjA5NTIzODMzMH0.l7DSprDtRsBhiV-80Azk2tSUdgIjcWpOHXG7y7SR6dU
